.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-top: 4rem;
}

.form {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  min-width: 80%;
  margin: 2rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
/* // */
.title {
  color: #2455f4;
}

.secondary-action {
  padding: 1rem 0;
}
/* / */
.link {
  font-weight: 700;
  text-decoration: none;
  color: #7accff;
}
/* // */
.link:focus {
  color: #2455f4;
}
/* / */
.link:active {
  color: #7accff;
}

/* / */
.link:visited {
  color: #7accff;
}

/* // */
.button {
  background-color: #2455f4 !important;
}

/* /// */
.button:hover {
  background-color: #2370f4 !important;
}

@media screen and (min-width: 768px) {
  .form {
    min-width: 24rem;
  }
  .content {
    justify-content: center;
  }
}
